*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #6FEDD6;
}

.weather-box{
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.weather-header h1{
  color: white;
  margin: 15px;
}

.weather-input{
  border: none;
  outline: none;
  margin: 10px;
}